.hero{
   
    width: 100%;
    
    
  
  

    .hero__title{

        font-family: $FontPrimary;
        color: $ColorPrimary;
        
        font-size: 2.3em;
        margin-top: 50px;
      
        .hero__bold{

            color: $ColorSecundary;
        }
    }
    .hero__subtitle{

      
        font-family: $FontSecundary;
        color: $Bg;
        font-size: 12px;
        font-weight: normal;
      
    }
    .hero__desc{

        margin: 10px 0px;
        font-family: $FontSecundary;
        color: $Bg;
        font-size: 13px;
        font-weight: normal;
       
        
    }
    .hero__icon{
        color: $Bg;
        font-size: 18px;
        transition:  all 0.5s;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
            color: $ColorSecundary;
        }
    }
    .hero__img{

        margin-top: 30px;
       display: block;
        width: 250px;
        text-align: center;
        margin: 20px auto;
        
    }
}


@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {



    
    .hero{
     

        display: flex;
        justify-content: center;
        align-items: center;
        }
        .hero__title{
            font-size: 3em;
        }
        .hero__desc{

            width: 300px;
            text-align: left;
           
            
        }
        .hero__icon{

        }
    }
 

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    
   
    .hero{
     

        background: yellow;
      
        }
        .hero__title{
           
        }
        .hero__desc{

            width: 500px;
           
           
            
        }
        .hero__icon{
            
        }
    }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }